<!DOCTYPE html>
<html>
<head>
  <title>Adjourn</title>
  <%= stylesheet_link_tag    "adjourn/application", :media => "all" %>
  <%= javascript_include_tag "adjourn/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
